$xxs: .2rem;
$xs: .5rem;
$s: .8rem;
$m: 1rem;
$l: 1.2rem;
$xl: 1.5rem;
$xxl: 1.8rem;
$xxxl: 2rem;
$mercury: 3rem;
$mars: 4rem;
$venus: 5rem;
$earth: 6rem;
$neptune: 7rem;
$uranus: 8rem;
$saturn: 9rem;
$jupiter: 10rem;
$sun: 20rem;

.fs-xxs { font-size: $xxs; }
.fs-xs { font-size: $xs; }
.fs-s { font-size: $s; }
.fs-m { font-size: $m; }
.fs-l { font-size: $l; }
.fs-xl { font-size: $xl; }
.fs-xxl { font-size: $xxl; }
.fs-xxxl { font-size: $xxxl; }
.fs-mercury { font-size: $mercury; }
.fs-mars { font-size: $mars; }
.fs-venus { font-size: $venus; }
.fs-earth { font-size: $earth; }
.fs-neptune { font-size: $neptune; }
.fs-uranus { font-size: $uranus; }
.fs-saturn { font-size: $saturn; }
.fs-jupiter { font-size: $jupiter; }
.fs-sun { font-size: $sun; }